{% extends "base.html" %}

{% block content%}


<div class="col-sm-6 col-sm-offset-3">
<h1>{{ title }} is working!!</h1>



<form method='GET' action=''>
<input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
<input type='submit' name="submit" value='Search' />
</form>


{%for i in objectlist%}
<div class="row">
    <div class="col-sm-12">

        <div class="thumbnail" >
            {%if i.image%}
             <img src="{{i.image.url}}" class="img-responsive"/>
            {%endif%}
            <div class="caption">
            <h3><a href='{{i.get_absolute_url}}'>  {{ i.title }} </a><small>{{i.timestamp|timesince}} ago</small></h3>
            <p>{{ i.content |linebreaks |truncatechars:120 }}</p>
            <p> <a href="#" class="btn btn-primary" role="button">View </a>  </p>
            </div>
        </div>
    </div>
    <hr/>
 </div>
{%endfor%}


<div class="pagination">
    <span class="step-links">
        {% if objectlist.has_previous %}
            <a href="?{{page_request_var}}={{ contacts.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objectlist.number }} of {{ objectlist.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?{{page_request_var}}={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>

</div>


{% endblock content %}
